h1 {
    font-size: 80px;
    color: #5191fd;
  }  

.container {
  background: #5191fd;
}

.right{
    float: right;
  }
  .image{
    height: 50px;
    width: 50px;
  }
  .heading{
    color: rgb(55, 180, 178);
  }
  .body{
    background: rgb(186, 186, 186);
    font-size: 15px;
  }
  .head{
    background: white
  }